<section class="dog-profile">
    <div class="dog-profile__img-container">
        <img src="https://g.foolcdn.com/image/?url=https%3A%2F%2Fg.foolcdn.com%2Feditorial%2Fimages%2F671525%2Fa-happy-shiba-inu-dog-standing-in-a-garden.jpg&w=700&op=resize"
            alt="test">
    </div>
    <div class="dog-profile__content">
        <h2>
            <%= name %>
        </h2>
        <div>
            <p>
                <%= about %>
            </p>
            <button>Adoption</button>
        </div>
    </div>
</section>