<section class="questionnaire" id="question-one">
    <h2>
        Gender?
    </h2>
    <img src="./img/mainpom.png" alt="Gender">
    <ul class="question-1">
        <div>
            <li tabindex="0"><input type="checkbox" id="choise-one" />
                <label for="choise-one"><img src="./img/femalew.png" /></label>
            </li>
            <li tabindex="0"><input type="checkbox" id="choise-two" />
                <label for="choise-two"><img src="./img/malew.png" /></label>
            </li>
        </div>
        <li>
            <button class="select-all-one">Select all</button>
        </li>
    </ul>
    <button id="next-age-question">Next</button>
</section>

<section class="questionnaire" id="question-two">
    <h2>
        Age?
    </h2>
    <img src="./img/age.png" alt="Gender">
    <ul class="question-2">
        <div>
            <li tabindex="0"><input type="checkbox" id="choise-three" />
                <label for="choise-three"> 0 - 5</label>
            </li>
            <li tabindex="0"><input type="checkbox" id="choise-four" />
                <label for="choise-four">6 - 10</label>
            </li>
            <li tabindex="0"><input type="checkbox" id="choise-five" />
                <label for="choise-five"> 10+</label>
            </li>
        </div>
        <li>
            <button class="select-all-two">Select all</button>
        </li>
    </ul>
    <button id="next-size-question">Next</button>
</section>

<section class="questionnaire" id="question-three">
    <h2>
        Size?
    </h2>
    <img src="./img/size.png" alt="Gender">
    <%- include('../partials/slider'); %>
        <ul class="question-3">
            <div>
                <li tabindex="0"><input type="checkbox" id="choise-six" />
                    <label for="choise-six">Small</label>
                </li>
                <li tabindex="0"><input type="checkbox" id="choise-seven" />
                    <label for="choise-seven">Medium</label>
                </li>
                <li tabindex="0"><input type="checkbox" id="choise-eight" />
                    <label for="choise-eight">Large</label>
                </li>
            </div>
            <li>
                <button class="select-all-three">Select all</button>
            </li>
        </ul>
        <button>Show my match!</button>
</section>