<!-- <form action="/"><form>-->
<!-- Question one -->
<form action="/">
    <section class="questionnaire first">
        <h2>
            Gender?
        </h2>
        <img src="./img/mainpom.png" alt="Gender">
        <ul class="question-1">
            <div>
                <li tabindex="0"><input name="female" type="checkbox" id="choise-one" />
                    <label for="choise-one"><img src="./img/femalew.png" alt="female" /></label>
                </li>
                <li tabindex="0"><input name="male" type="checkbox" id="choise-two" />
                    <label for="choise-two"><img src="./img/malew.png" alt="male" /></label>
                </li>
            </div>
            <li>
                <button class="select-all-one">Select all</button>
            </li>
        </ul>
        <button class="btn-next-1">Next</button>
    </section>

    <!-- Question two-->
    <section class="questionnaire second">
        <h2>
            Age?
        </h2>
        <img src="./img/age.png" alt="Gender">
        <ul class="question-2">
            <div>
                <li tabindex="0"><input name="zero-till-five" type="checkbox" id="choise-three" />
                    <label for="choise-three">0 - 5</label>
                </li>
                <li tabindex="0"><input name="six-till-ten" type="checkbox" id="choise-four" />
                    <label for="choise-four">6 - 10</label>
                </li>
                <li tabindex="0"><input name="ten-plus" type="checkbox" id="choise-five" />
                    <label for="choise-five">10+</label>
                </li>
            </div>
            <li>
                <button class="select-all-two">Select all</button>
            </li>
        </ul>
        <button class="btn-next-2">Next</button>
    </section>

    <!-- Question three-->
    <section class="questionnaire third">
        <h2>
            Size?
        </h2>
        <img src="./img/size.png" alt="Gender">
        <%- include('../partials/dog-sizes'); %>
            <ul class="question-3">
                <div>
                    <li tabindex="0"><input name="small" type="checkbox" id="choise-six" />
                        <label for="choise-six">Small</label>
                    </li>
                    <li tabindex="0"><input name="medium" type="checkbox" id="choise-seven" />
                        <label for="choise-seven">Medium</label>
                    </li>
                    <li tabindex="0"><input name="large" type="checkbox" id="choise-eight" />
                        <label for="choise-eight">Large</label>
                    </li>
                </div>
                <li>
                    <button class="select-all-three">Select all</button>
                </li>
            </ul>
            <input class="btn-submit" type="submit">Show my match!</input>
    </section>

</form>