<section class="questionnaire">
    <h2>
        <%= title %>
    </h2>
    <img src="https://static.vecteezy.com/system/resources/previews/001/200/027/original/dog-png.png" alt="Gender">
    <ul class="question-1">
        <div>
            <li><input type="checkbox" id="choise-one" />
                <label for="choise-one"><img src="https://assets.codepen.io/274456/ft-icon-castle.svg" /></label>
            </li>
            <li><input type="checkbox" id="choise-two" />
                <label for="choise-two"><img src="https://assets.codepen.io/274456/ft-icon-ogre.svg" /></label>
            </li>
        </div>
        <li>
            <button class="select-all-one">Select all</button>
        </li>
    </ul>
</section>

<section class="questionnaire">
    <h2>
        Age?
    </h2>
    <img src="https://static.vecteezy.com/system/resources/previews/001/200/027/original/dog-png.png" alt="Gender">
    <ul class="question-2">
        <div>
            <li><input type="checkbox" id="choise-three" />
                <label for="choise-three"> 0 - 5</label>
            </li>
            <li><input type="checkbox" id="choise-four" />
                <label for="choise-four">6 - 10</label>
            </li>
            <li><input type="checkbox" id="choise-five" />
                <label for="choise-five"> 10+</label>
            </li>
        </div>
        <li>
            <button class="select-all-two">Select all</button>
        </li>
    </ul>
</section>

<section class="questionnaire">
    <h2>
        Size?
    </h2>
    <img src="https://static.vecteezy.com/system/resources/previews/001/200/027/original/dog-png.png" alt="Gender">
    <%- include('../partials/slider'); %>
        <ul class="question-3">
            <div>
                <li><input type="checkbox" id="choise-six" />
                    <label for="choise-six">Small</label>
                </li>
                <li><input type="checkbox" id="choise-seven" />
                    <label for="choise-seven">Medium</label>
                </li>
                <li><input type="checkbox" id="choise-eight" />
                    <label for="choise-eight">Large</label>
                </li>
            </div>
            <li>
                <button class="select-all-three">Select all</button>
            </li>
        </ul>
</section>