<div class="slider">
    <div>
        <img src="https://cdn-icons-png.flaticon.com/512/91/91544.png" alt="Small Dog">
        <img src="https://cdn-icons-png.flaticon.com/512/91/91544.png" alt="Medium Dog">
        <img src="https://cdn-icons-png.flaticon.com/512/91/91544.png" alt="Large Dog">
    </div>
    <input type="range" list="tickmarks">
    <datalist id="tickmarks">
        <option value="0" label="small"></option>
        <option value="32" label="small"></option>
        <option value="33" label="medium"></option>
        <option value="66" label="medium"></option>
        <option value="67" label="medium"></option>
        <option value="100" label="large"></option>
    </datalist>
</div>