<!doctype html>
<html lang="en">

<%- include('../components/head'); %>

    <body>
        <%- include('../components/header'); %>

            <main>
                <form action="/doggo/add" method="post">
                    <label>Select Image File:</label>
                    <input type="file" name="image">

                    <div>
                        <label for="name">Name</label><br>
                        <textarea name="name" id="" cols="30" rows="2"></textarea>
                    </div>
                    <div class="questionnaire-row">
                        <h3>Age</h3>
                        <div><input name="gender" value="female" type="checkbox" id="female" />
                            <label for="female"><img src="./img/femalew.png" alt="female" /></label>
                        </div>
                        <div><input name="gender" value="male" type="checkbox" id="male" />
                            <label for="male"><img src="./img/malew.png" alt="male" /></label>
                        </div>
                    </div>
                    <div class="questionnaire-row">
                        <h3>Age</h3>
                        <div><input name="age" value="zero-five" type="checkbox" id="zero-five" />
                            <label for="zero-five">0 - 5</label>
                        </div>
                        <div><input name="age" value="six-ten" type="checkbox" id="six-ten" />
                            <label for="six-ten">6 - 10</label>
                        </div>
                        <div><input name="age" value="ten-plus" type="checkbox" id="ten-plus" />
                            <label for="ten-plus">10+</label>
                        </div>
                    </div>
                    <div class="questionnaire-row">
                        <h3>Size?</h3>
                        <div><input name="size" value="small" type="checkbox" id="small" />
                            <label for="small">Small</label>
                        </div>
                        <div><input name="size" value="medium" type="checkbox" id="medium" />
                            <label for="medium">Medium</label>
                        </div>
                        <div><input name="size" value="large" type="checkbox" id="large" />
                            <label for="large">Large</label>
                        </div>
                    </div>
                    <div>
                        <label for="about">Description</label><br>
                        <textarea name="about" id="" cols="30" rows="10"></textarea>
                    </div>
                    <button class="add-submit">Add doggo</button>
                </form>

                <%- include('../partials/pop-up'); %>

            </main>

            <%- include('../components/footer'); %>

                <script src="scripts/script.js"></script>
                <script src="scripts/menu.js"></script>

    </body>

</html>