<!doctype html>
<html lang="en">

<%- include('../partials/head'); %>

	<body>
		<%- include('../partials/header'); %>

			<main>
				<%- include('../partials/questionnaire'); %>
			</main>

			<%- include('../partials/footer'); %>

				<script src="scripts/script.js"></script>
	</body>

</html>