<!doctype html>
<html lang="en">
<%- include('../components/head'); %>

	<body>
		<%- include('../components/header'); %>
			<main>
				<button>Change my preferences</button>
				<h2>Your match is: </h2>
				<%- include('../partials/dog-profile'); %>
			</main>
			<%- include('../components/footer'); %>
				<script src="scripts/menu.js"></script>
	</body>

</html>