/****************/
/* GENERAL CODE */
/****************/
@font-face {
  font-family: 'spoof';
  src: url(../font/Spoof-Regular.woff);
}

/********************/
/* CODE FOR "ROOT"  */
/********************/
:root {
  --color-primary: #000;
	--color-secondary: #fff;
  --color-menu: rosybrown;
	--bg-color: linear-gradient(rgb(250, 198, 225), rgb(166, 192, 249));
  --bg-color-reverse: linear-gradient(rgb(166, 192, 249), rgb(250, 198, 225));
  --bg-color-secondary: linear-gradient(rgb(254, 255, 169),rgb(81, 160, 154), rgb(16, 106, 111)); 
  --bg-color-menu: royalblue;
  --bg-color-button: orange;
  --bg-color-button-secondary: orangered;
}

/*****************/
/* CODE FOR BODY */
/*****************/
body {
  background-attachment: fixed;
  background-image: var(--bg-color) ;
  font-family: "spoof", Arial, Helvetica, sans-serif;
}

/*******************/
/* CODE FOR HEADER */
/*******************/
nav {
	background: var(--bg-color-reverse);
	bottom: 0;
	position: fixed;
	left: 0;
	padding: 1rem;
	right: 0;
	top: 0;
	transform: translateX(100%);
	transition: .5s;
  z-index: 10;
}

nav.is-open {
	transform: translateX(0);
}

nav button {
  background-color: var(--bg-color-menu);
  border: none;
  border-radius: 5px;
  color: varvar(--color-secondary);
  padding: 1rem;
}

header button {
  background-color: var(--bg-color-menu);
  border: none;
  border-radius: 5px;
  color: var(--color-secondary);
  padding: 1rem;
}

/*******************/
/* CODE FOR FOOTER */
/*******************/
footer {
  bottom: 0;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}


/*************************/
/* CODE FOR MAIN_SECTION */
/*************************/
.main-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-section h2 {
  font-size: 2.5rem;
}

.main-section img {
  height: auto;
  width: 100px;
}

.main-section ul {
  gap: 1rem;
  list-style:none;
  padding:1em;
  position:relative;
}

.main-section ul a {
  text-decoration: none;
}

.main-section ul a:visited {
  color: var(--bg-color);
}

.main-section ul li {
  background-color: var(--bg-color-button);
  border-radius: 15px;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}

.main-section ul li:hover,
.main-section ul li:focus,
.main-section ul li:active {
  background-color: var(--bg-color-button-secondary);
}

.main-section ul li img {
  height: auto;
  width: 100px;
}

.main-section__row {
  display: flex;
  flex-direction: row;
}